<section class="login">
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <!--
        <div>
          {{ lobbyState }}
        </div>
        -->
        <div v-if="lobbyState === 'logging'">
          <img src="../../assets/guessIt4.png" alt="" class="homeTitleImage">
          <img src="../../assets/stickers/116254.png" alt="" class="homeMascotImage">
          <div class="LoginBox">
            <div class="column is-4 is-offset-4">
              <b-field label="Username" class="BalooFont">
                <b-input v-model="username"></b-input>
              </b-field>
              <a class="button is-primary is-inverted is-outlined BalooFont" @click="joinBtn">Join</a>
            </div>
          </div>
        </div>
        <div v-if="lobbyState === 'waiting'">
          <img src="../../assets/stickers/116275.png" alt="" class="homeMascotImage">
          <h1 class="title BalooFont">
            Waiting for the rest of the players
            <br>
            {{ playersCount }} / {{ playerNbr }}
          </h1>
          <div id="readyBtn" v-if="playersCount === playerNbr">
            <a class="button is-primary is-inverted is-outlined" @click="readyBtn">I'm Ready</a>
            <div v-if="allPlayersReady">
              <h1 id="startingCountDown" class="title BalooFont"></h1>
            </div>
          </div>
        </div>
        <div v-if="lobbyState === 'playing'">
          <h1 class="title BalooFont" id="counter">Game Countdown</h1>
          <b-modal :active.sync="wrongAnswerCard" :width="320">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="../../assets/stickers/116258.png" alt="wrongAnswer">
                </figure>
              </div>
              <div class="card-content">
                <div class="title has-text-centered">
                    Wrong Answer!!!
                </div>
                <div class="subtitle">
                  hint: {{hintMsg}}
                </div>
              </div>
            </div>
          </b-modal>

          <b-modal :active.sync="rightAnswerCard" :width="320">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="../../assets/stickers/116255.png" alt="rightAnswer">
                </figure>
              </div>
              <div class="card-content">
                <div class="title has-text-centered">
                    Conglaturation {{username}}, You Won!!!
                </div>
              </div>
            </div>
          </b-modal>

          <b-modal :active.sync="playerWonCard" :width="320">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="../../assets/stickers/116266.png" alt="playerWon">
                </figure>
              </div>
              <div class="card-content">
                <div class="title has-text-centered">
                    You Lost, {{playerWon}} Won!!!
                </div>
              </div>
            </div>
          </b-modal>

          <b-modal :active.sync="gameOverCard" :width="320">
              <div class="card">
                <div class="card-image">
                  <figure class="image">
                    <img src="../../assets/stickers/116276.png" alt="gameOver">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="title has-text-centered">
                      You all lose, AHAHAH!!
                  </div>
                </div>
              </div>
            </b-modal>

          <div class="leftPadding">
            <div class="columns is-mobile is-multiline" id="guessCanvas">
              <a class="column button is-danger btnSize is-3-mobile is-2-tablet is-1-desktop" v-for="index in 99" :ref="`guess${index}`" @click="sendGuess(index)">
                <div class="CevicheOneFont">
                  {{ index }}
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

