$card-background-color: hsla(0, 0%, 0%, 0);

@import "~bulma";
@import url(https://fonts.googleapis.com/css?family=Ceviche%20One);
@import url(https://fonts.googleapis.com/css?family=Baloo);

@keyframes homeTitleAnimation {
    25% {
        transform: rotateZ(20deg);
    }
    50% {
        transform: none;
    }
    75% {
        transform: rotateZ(-20deg);
    }
    100% {
        transform: none;
    }
}

.BalooFont {
    font-family: 'Baloo';
}

.CevicheOneFont {
    font-family: 'Ceviche One';
    font-size: 40px;
  }  

.loginBox {
    width: 300px;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}

.canvas {
    width: 1400px;
    height: 500px;

}

.btnSize {
    /*
    width: 125px;
    height: 75px;
    float: left;
    border: 5px solid #ffffff;
    */
    height: 85px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.leftPadding {
    padding-left: 0%;
}

.homeTitleImage {
    width: 300px;
    padding-bottom: 100px;
    animation: homeTitleAnimation 5s infinite;
}

.homeMascotImage {
    width: 200px;
}

.startingGameCounter {
    color: red;
}

@media only screen and (max-width: 768px) {
    .leftPadding {
        padding-left: 15%;
    }
    .homeTitleImage {
        width: 150px;
        padding-bottom: 50px;
    }
    .homeMascotImage {
        width: 100px;
    }
}

@media only screen and (max-width: 1087px) and (min-width: 769px) {
    .leftPadding {
        padding-left: 10%;
    }
}



